{% extends './base.html' %}

{% block title %}FaysPy Login{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="static/css/login_signup.css">
<link rel="stylesheet" href="static/css/base.css">
{% endblock %}


{% block body %}
 <form class="form-signin" action="/login" method="POST">
    <img class="mb-4" src="../static/img/fayspy.png" alt="">
     {% with messages = get_flashed_messages() %}
     {% if messages %}
     {% for message in messages %}
     <div class="alert alert-primary alert-dismissible", role="alert">
         <strong>{{message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
     </div>
     {% endfor %}
     {% endif %}
     {% endwith %}

    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="form-floating">
      <input type="text" class="form-control" id="username" name="username" placeholder="username">
      <label for="username">Username</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="password" name="password" placeholder="Password">
      <label for="password">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
     <p>New user? <a href="{{ url_for( 'home.signup') }} ">Click here to register</a>.</p>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
  </form>
{% endblock %}